
.background, .background2{
    height:100%;
    width:100%;
    background-color:rgb(189,237,252);
}

.background2{
    height:100%;
    width:100%;
    background-color: rgb(189,237,252);
    margin-bottom: 3rem;
}

#homePageHeader{
    font-size:3rem;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    color: rgb(47, 49, 146);
    text-align: center;
    margin-top: 1rem;
    padding:2rem;
}

#searchBar{
    width:40%;
    margin:auto;
    margin-top:2rem;
    padding-bottom: 2rem;
}

#listing{
   
    display:flex;
    width:50%;
    margin:auto;
    margin-bottom: 3rem;
    padding:1rem;
}

#hostelImage{

    width:60%;
    height:20rem;
    margin:auto;
    margin-top:2rem;
}

#cornerLogo{
    width:7rem;
    height:7rem;
    position:fixed;
    bottom:1rem;
    right:1rem;
}

.hostelName{
   
    padding-top: 2rem;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    color:rgb(47, 49, 146);
}