
.background, .background2{
    height:100%;
    width:100%;
    background-color:rgb(189,237,252);
}

.background2{
    height:100%;
    width:100%;
    background-color: rgb(189,237,252);
    margin-bottom: 3rem;
}

#homePageHeader{
    font-size:3rem;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    color: rgb(47, 49, 146);
    text-align: center;
    margin-top: 1rem;
    padding:2rem;
}

#searchBar{
    width:40%;
    margin:auto;
    margin-top:2rem;
    padding-bottom: 2rem;
}

#listing{
    display:flex;
    width:50%;
    margin:auto;
    margin-bottom: 3rem;
    padding:1rem;
}

#hostelImage{

    width:60%;
    height:20rem;
    margin:auto;
    margin-top:2rem;
}

#cornerLogo{
    width:7rem;
    height:7rem;
    position:fixed;
    bottom:1rem;
    right:1rem;
}

.hostelName{
   
    padding-top: 2rem;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    color:rgb(47, 49, 146);
}

#backToProfile{
    float: left;
}

.filterBar{
    margin-left: -4.3rem;
    height: 3rem;
    border-radius: .5rem;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    padding:auto;
    border:none;
}

#listing{
background-color:white;
border-radius: 1rem;
padding-left:2rem;

}

#seeMoreButton{
    float:right;
    height:3rem;
    width:13rem;
    font-size: 1.3rem;
}