
.background{
    background-color:rgb(189,237,252);
    width: 100vw;
    height: 100%;

}

#homePageHeader{
    font-size:3rem;
    font-weight: bold;
    background-color: white;
    color: rgb(47, 49, 146);
  text-align: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

#searchBar{
    width:40%;
    margin:auto;
    margin-top:2rem;
}

#listing{
   
  display:flex;
    width:50%;
    margin:auto;
    margin-top:30px;
}

#hostelImage{

    width:80%;
    height:25rem;
    margin:auto;
    margin-top:2rem;
}

#cornerLogo{
    width:7rem;
    height:7rem;
    position:fixed;
    bottom:1rem;
    right:1rem;
}