#fullProfile{
  min-height: 35rem;
  margin-top: 5rem;
}

#hostelPrice{
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}


img {
  max-width: 30rem;
  float:left;
  clear: both;
  margin-right: 1rem;
  margin-left:.5rem;

}

#background {
  background-color: rgb(189,237,252);
  margin: 0;
  padding-bottom: 10rem;
}

#profBackground {
  background-color: lightgray;
  margin: 0;
  padding-bottom: 10rem;
}

#homePageHeader{
font-size: 5rem;
font-family: 'Oswald', sans-serif;
background-color: white;
color: rgb(47, 49, 146);
text-align: center;
margin-top: 1rem;
padding-bottom: 2rem;
margin-bottom: 0.5rem;
}

#navBar{
background-color: white;
font-size: 2rem;
}

.informationContainer{
background-color: white;
border-radius: .5rem;
padding:1rem;
}

#reviewUserName {
font-size: 1.25rem;
}

#backToHomepage{
padding-top:.5rem;
display:flex;
float: right;
margin-right: 8.9rem;

}

#headerText{
padding-top: .5rem;
margin-right: 1rem;
color: rgb(47, 49, 146);
}

#locationAndPrice{
margin-bottom:.5rem;
}

#subFont{
display:inline;
font-size: 2rem;
}

#largeFont{
display:inline;
font-family: 'Oswald', sans-serif;
color: rgb(47, 49, 146);
font-size: 3rem;

}

#smallFont{
font-size: 1.1rem;
}

#medFont{
display:inline;
font-family: 'Oswald', sans-serif;
font-size: 1.4rem;
}

#slogan{
font-size: 2rem;
}

#features{
margin-left: 28rem;
}

#userPic{
  width:30%;
  margin-left:2rem;
 max-height: 28rem;
}

#userUpdate{
  float:right;
  width:15rem;
  clear:both;
margin-right:2rem;
margin-bottom:1rem;
}

#userProfileBody{
margin-left:28rem;
}

#largeFont2{
font-family: 'Oswald', sans-serif;
color: rgb(47, 49, 146);
font-size: 2rem;
}

#hostelUpdate{

  float:right;
  width:15rem;
  clear:both;

  display: block;
margin-right:2rem;
margin-bottom:7rem;
}
